body {
  background-color: #2e2e2e;
  color: #fff;
}

a:hover {
  text-decoration: none !important;
}

/* Options */
.options {
  background-color: #1c2331;
}
.options li {
  background-color: #1c2331;
  color: #fff;
  word-break: break-all;
}

.options a {
  word-break: keep-all;
  margin-left: 1rem;
}

.options__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Modal */
.modal-content {
  color: #1c2331;
}
